# =========== #
# Local Files #
# =========== #
logs/*
models/*

# =========== #
#  Notebooks  #
# =========== #
.idea*
__pycache__*
.ipynb_checkpoints*

# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
[Dd]esktop.ini
Corridor/Library/ShaderCache/
Corridor/Library/metadata/